certifi
pandas
python-dateutil
pytz
scipy
absl-py
astor
gast
protobuf
markdown
protobuf
six
tensorboard
tensorflow
termcolor
werkzeug
cffi
grpcio
intel-openmp
mkl
mkl_fft
mkl_random
ninja
numpy
pip
pycparser
readline
scikit-learn
setuptools
wheel
hearthstone
hearthstone-data
torch

