certifi
pandas
python-dateutil
pytz
scipy
absl-py
astor
gast
protobuf
markdown
protobuf
six
tensorboard
tensorflow
termcolor
werkzeug
cffi
grpcio
intel-openmp
mkl
mkl_fft
mkl_random
ninja
numpy==1.15.4
pip
pycparser
readline
scikit-learn==0.20.2
setuptools
wheel
hearthstone==5.2.3
hearthstone-data==28855.1
torch
